
header{background-color: black ; border: 1px dashed chocolate; margin: 20px; text-align: center;}
h1 {text-align: center ; margin-left: 240px;}
h2{text-align: center; color: darkolivegreen;}

a{ text-decoration: none; float: left; padding-left: 22px; align-self: center; margin-left: 28px;}
section{ text-decoration: none; padding: 5px; border: 0px black solid; margin: 50px;}





